/* 
---01 TYPOGRAPHY SYSTEM
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      
      -Font Weights
        Default: 400
      

---02 COLORS

    -Primary: #e67e22
    -Tints: #fae5d3
    -Shades: #cf711f
    -Accents:
    -Greys:

---03 SHADOWS

---04 BORDER-RADIUS

---05 WHITESPACE
    

*/

.section-hero {
    background-color: #fae5d3;
    padding: 9.6rem 0;
}

.hero {
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 9.6rem;
    align-items: center;
    
}

.btn:link, .btn:visited {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    gap: 1.2;

    /* Put the transition on original state */
    transition: background-color 0.3s;
}

.btn--full:link, .btn--full:visited {
    background-color: #e67e22;
    color:#fff;
}

.btn--full:hover, .btn--full:active {
    background-color: #cf711f;
}

.btn--outline:link, .btn--outline:visited {
    background-color: #fff;
    color:#555;
}

.btn--outline:hover, .btn--outline:active {
    background-color: #fdf2e9;
    /* border: 3px solid #fff; */

    /* Trick to add border inside */
    box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm {
    margin-right: 1.6rem !important;
}

.hero-img {
    width: 100%;
}

.heading-primary {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.1;
    color: #333;
    letter-spacing: -0.5;
    margin-bottom: 3.2rem;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}